@model Elixia.Shared.DTOs.LoginPasswordDTO

<h2>Login</h2>

<p>Please enter your login username or email</p>
<div>

    @{

        @Html.DisplayNameFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName)
        @Html.DisplayNameFor(model => model.Password)
        @Html.TextBoxFor(model => model.Password)
        <a asp-action="Login" asp-route-id="@Model.Password">login</a>
    }

</div>